*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    color:brown;
    font-size: 40px;
    background: yellow;
}
 
p {
    color:brown;
    font-size: 30px;
    background: yellow;
}

button{
    border-radius: pointer;
    width: 80px;
    height: 50px;
    background: greenyellow;
    border: none;
}